{% extends "tables/base.html" %}

{% block title %}{{ table.title }} | {{ block.super }}{% endblock %}

{% block js %}
{{ block.super }}

{% endblock %}

{% block content %}
    <div id="title">
        <h2>{{ table.title }}</h2>
        <aside>{{ table.description }}</aside>
    </div>
    
    <div id="chart"></div>
    <div class="table">
        <table>
        <tr>
            {% for column in table.data.columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in table.data %}
            {{ row.as_tr|safe }}
        {% endfor %}
        </table>
    </div>
{% endblock %}