<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            {% block css.shared %}
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen" charset="utf-8" />
            {% endblock %}
            {% block css.custom %}{% endblock %}
        {% endblock %}
        {% block js %}
        <script src="http://code.jquery.com/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="masthead" class="container">
                {% block masthead %}{% endblock %}
            </div>
        </header>
        <div id="main">
            <div id="content" class="container">
                {% block content %}
                    Put some content here
                {% endblock %}
            </div>
        </div>
        <footer>
            <div id="footer" class="container">
                {% block footer %}
                    
                {% endblock %}
            </div>
        </footer>
    </body>